.carousel {
  overflow: hidden;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}
.carouselitem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: rgb(235, 235, 235);
  color: #fff;
}
.indicators {
  display: flex;
  justify-content: center;
}
.indicators > button {
  margin-right: 50px;
}
